{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotas</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <div class="container">
            <h2 class="nav-link">Masco</h2>
            <nav>
                <li class="nav-link link" ><a class="nav-link link" href="{% url 'inicio' %}">Inicio</a></li>
                <li class="nav-link link" ><a class="nav-link link" href="{% url 'inicio' %}">Ingresar</a></li>
                <li class="nav-link link" ><a class="nav-link link" href="{% url 'inicio' %}">Contacto</a></li>
            </nav>
            <a class="nav-link link" href="{% url 'logout' %}">Cerrar Sesión</a>
        </div>
    </header>

    <section id="listaM">
        {% block cuerpo %}

        {% endblock %}
    </section>
    
    <footer>
        <h3>Copyright, Colombia 2026</h3>
    </footer>
</body>
</html>