<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresa a Masco</title>
</head>
<body>

    <header>
        <h2>Ingresa a Masco</h2>
    </header>


    <section>
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="usuario" class="form-control" placeholder="Usuario"/>
            <input type="password" name="clave" class="form-control" placeholder="Clave"/>
            <button type="submit" class="btn">Login</button>
        </form>
    </section>
    
</body>
</html>